# Mini OSS Insight Workshop

ğŸ‘ æ¬¢è¿æ¥åˆ° Mini OSS Insight çš„ Workshop!

è¿™æ˜¯å…³äº Workshop çš„å®Œæ•´æŒ‡å—ï¼Œä½ å¯ä»¥é€šè¿‡é˜…è¯»è¯¥æŒ‡å—ä¸€æ­¥ä¸€æ­¥åœ°æ­å»ºèµ·ä¸€ä¸ª Mini ç‰ˆçš„ OSS Insightï¼Œå¹¶åœ¨è¿‡ç¨‹æŒæ¡ä¸€äº›ä½¿ç”¨ TiDB / TiDB Cloud è¿›è¡Œæ•°æ®åˆ†æçš„æŠ€å·§ã€‚

ä½ å¯ä»¥åœ¨ç»ˆç«¯ä¸Šè¿è¡Œä¸€ä¸‹å‘½ä»¤æ¥è·å–è¯¥æŒ‡å—çš„å¹»ç¯ç‰‡ç‰ˆæœ¬ï¼š

```shell
jupyter nbconvert workshop.cn.ipynb --to slides --post serve
```

> **æ³¨æ„**
> 
> åœ¨å¼€å§‹åç»­æ­¥éª¤ä¹‹å‰ï¼Œè¯·åœ¨ [pingcap/ossinsight](https://github.com/pingcap/ossinsight) ä»“åº“é¡µé¢çš„å³ä¸Šè§’ç‚¹å‡» Fork æŒ‰é’®æ¥åˆ›å»ºä½ çš„ Fork ä»“åº“ï¼Œç„¶åç‚¹å‡» â€œCodeâ€ > â€œNew with Optionsâ€ æŒ‰é’®æ¥åˆ›å»ºä½ çš„ Codespaces å¼€å‘ç¯å¢ƒï¼Œä»¥ä¾¿åœ¨åç»­çš„æ­¥éª¤å½“ä¸­ä½ æœ‰è¶³å¤Ÿçš„æƒé™ä¿®æ”¹ Github Codespaces Secretsã€‚
>

## å‡†å¤‡

åœ¨å¼€å§‹ä¹‹å‰ï¼Œä½ éœ€è¦ç¡®ä¿åœ¨ä½ çš„å¼€å‘ç¯å¢ƒä¸­å·²ç»å®‰è£…äº†ä»¥ä¸‹è½¯ä»¶/å·¥å…·ï¼š

- GitHub è´¦å· - ç”¨äºè®¿é—® GitHub API è·å– events æ•°æ®
- GitHub Codespaces å¼€å‘ç¯å¢ƒ - æœ¬æ•™ç¨‹é€šè¿‡ [GitHub Codespaces](https://github.com/codespaces) å‡†å¤‡å¼€å‘ç¯å¢ƒ
- å¯ä¾›è¿æ¥çš„ TiDB é›†ç¾¤ - ç”¨äºå­˜å‚¨ events æ•°æ®ä»¥åŠé€šè¿‡ SQL è¯­å¥è¿›è¡Œæ•°æ®åˆ†æ
- MyCLI - è¿æ¥åˆ° TiDB é›†ç¾¤
- Python 3.x and pip - Jupyter Notebook éœ€è¦çš„è¿è¡Œæ—¶ç¯å¢ƒ

### 1. åˆ›å»º Personal Access Token

> **Note**
>
> å¦‚æœä½ ä½¿ç”¨ GitHub Codespaces æ¥æ“ä½œè¯¥æŒ‡å—, ä½ å¯ä»¥è·³è¿‡ä¸‹é¢çš„æ­¥éª¤ï¼Œå› ä¸ºåœ¨ Codespaces [é»˜è®¤çš„ç¯å¢ƒå˜é‡](https://docs.github.com/en/codespaces/developing-in-codespaces/default-environment-variables-for-your-codespace)å½“ä¸­å·²ç»åŒ…å«äº† `GITHUB_TOKEN` å˜é‡ã€‚
>  

åœ¨ç™»å½•åˆ°ä½ çš„ GitHub è´¦å·ä¹‹åï¼Œä½ å¯ä»¥åœ¨ä¸ªäººè®¾ç½®é¡µé¢[åˆ›å»ºä¸€ä¸ªæ–°çš„ Personal Access Token](https://github.com/settings/personal-access-tokens/new)ï¼Œåœ¨åç»­æ­¥éª¤å½“ä¸­å°†ä½¿ç”¨è¯¥ Token æ¥è®¿é—® GitHub APIã€‚

<center>
  <img align="middle" width="600" alt="Create a New GitHub Personal Access Token" src="https://user-images.githubusercontent.com/5086433/204564273-93cccbe4-d10a-4d1b-a9d1-112a1144712a.png">
  <p><i>åˆ›å»ºä¸€ä¸ªæ–°çš„ Personal Access Token</i></p>
</center>

### 2. å‡†å¤‡ TiDB é›†ç¾¤

ä½ éœ€è¦å¼€å¯ä¸€ä¸ª TiDB é›†ç¾¤ã€‚ä½ å¯ä»¥é€šè¿‡æŸ¥çœ‹æ–‡æ¡£ [TiDB Cloud Quick Start](https://docs.pingcap.com/tidbcloud/tidb-cloud-quickstart#step-1-create-a-tidb-cluster) æ–‡æ¡£å­¦ä¹ å¦‚ä½•åˆ›å»ºä¸€ä¸ª **Serverless tier** é›†ç¾¤ï¼Œè¿™å¯èƒ½ä¼šéœ€è¦ 20ï½25s çš„æ—¶é—´ã€‚

åœ¨ä½ åˆ›å»ºå®Œé›†ç¾¤ä¹‹åï¼Œå¯ä»¥è¿›å…¥åˆ°é›†ç¾¤çš„è¯¦æƒ…é¡µã€‚åœ¨è¿™ä¸ªé¡µé¢ï¼Œä½ å¯ä»¥åœ¨ **Connection** é¢æ¿ä¸­æ‰¾åˆ°æ•°æ®åº“é›†ç¾¤çš„è¿æ¥ä¿¡æ¯ã€‚

<center>
  <img align="middle" width="800" alt="Serverless Tier Cluster Manage Interface" src="https://user-images.githubusercontent.com/5086433/204476069-0ddbdf6f-419c-4291-b929-ccfbd2f5ea5f.png">
  <p><i>Serverless Tier é›†ç¾¤ç®¡ç†ç•Œé¢</i></p>
</center>

ä½ å¯ä»¥é€šè¿‡ç‚¹å¼€é›†ç¾¤è¯¦æƒ…é¡µå³ä¸Šè§’çš„é›†ç¾¤ä¿®æ”¹èœå•ï¼Œç‚¹å‡»å…¶ä¸­çš„ â€œSecurity Settingsâ€ æŒ‰é’®è¿›å…¥åˆ°å®‰å…¨è®¾ç½®çª—å£ã€‚

<center>
  <img width="480" alt="The Cluster Modify Menu" src="https://user-images.githubusercontent.com/85985765/204876779-3a4c6ac4-8814-47cd-b82a-40eb5e4d8f96.png">
  <p><i>TiDB Cloud é›†ç¾¤ä¿®æ”¹èœå•</i></p>
</center>

åœ¨è¯¥çª—å£ä¸Šç‚¹å‡» â€œGenerateâ€ æŒ‰é’®æ¥ç”Ÿæˆ root ç”¨æˆ·å¯†ç ï¼Œä¿å­˜ä»¥ä¾¿åç»­ä½¿ç”¨ï¼Œ

<center>
  <img width="720" alt="Security Settings" src="https://user-images.githubusercontent.com/85985765/204877348-5c3e9012-f7bf-42e9-8a03-fd9f14bfc826.png">
  <p><i>TiDB Cloud é›†ç¾¤å®‰å…¨è®¾ç½®çª—å£</i></p>
</center>

## è®¾ç½®ç¯å¢ƒå˜é‡

ç‚¹å‡»ä»£ç å—å·¦ä¾§çš„æ‰§è¡ŒæŒ‰é’®ï¼Œè¿è¡Œä¸‹é¢çš„ Python ä»£ç å—ã€‚è¿™æ®µä»£ç å—å°†ä¼šä¸€æ­¥ä¸€æ­¥å¼•å¯¼ä½ å°†ä¸Šé¢å‡†å¤‡çš„æ•°æ®åº“è¿æ¥ä¿¡æ¯é…ç½®åˆ°ç¯å¢ƒå˜é‡å½“ä¸­ï¼Œä»¥ä¾¿åç»­æ­¥éª¤ä½¿ç”¨ã€‚

ä¸‹é¢çš„ç¨‹åºä¼šå°†ä½ è¾“å…¥çš„é…ç½®è‡ªåŠ¨æ·»åŠ åˆ° [GitHub Codespaces Secrets](https://docs.github.com/en/codespaces/managing-your-codespaces/managing-encrypted-secrets-for-your-codespaces) çš„è®¾ç½®å½“ä¸­ï¼Œå¾…ç¨‹åºæ‰§è¡Œå®Œæˆåç‚¹å‡»å³ä¸‹è§’çš„ â€œReload to applyâ€ æŒ‰é’®å°†ç¯å¢ƒå˜é‡åŠ è½½åˆ° Codespaces ç¯å¢ƒã€‚

<center>
    <img width="467" alt="image" src="https://user-images.githubusercontent.com/88522432/206100583-518b0465-79b0-46c0-bedb-c5aef3657cee.png">
    <p><i>Reload to apply the GitHub Codepsace Secrets</i></p>
</center>

In [2]:
# â† Execute the following script to load environment variable.
import getpass
import os

github_user = os.getenv("GITHUB_USER")
github_repo = os.getenv("GITHUB_REPOSITORY")

# Config GitHub personal access token.
github_token = ""
if os.getenv('GITHUB_TOKEN') is None:
    github_token = getpass.getpass(prompt='Enter your personal access token of GitHub: ')
else:
    github_token = os.getenv('GITHUB_TOKEN')

# Config database connection.
db_endpoint = input("Enter the endpoint of TiDB cluster: ")
db_port = "4000"
db_username = input("Enter the username of TiDB cluster: ")
db_password = getpass.getpass(prompt='Enter the password of TiDB cluster: ')
db_name = "ossinsight"
db_enable_ssl = "y"
db_ssl_config='&ssl={"minVersion":"TLSv1.2"}'
if db_enable_ssl == "n":
    db_ssl_config = ""

api_database_url = "mysql://{}:{}@{}:{}/{}?connectionLimit=100&queueLimit=10000{}\n".format(
    db_username, db_password, db_endpoint, db_port, db_name, db_ssl_config
)

etl_database_url = "tidb://{}:{}@{}:{}/{}".format(
    db_username, db_password, db_endpoint, db_port, db_name
)

os.system(f"gh secret set DB_ENDPOINT --body {db_endpoint} -a codespaces --repo {github_repo}")
os.system(f"gh secret set DB_PORT --body {db_port} -a codespaces --repo {github_repo}")
os.system(f"gh secret set DB_USERNAME --body {db_username} -a codespaces --repo {github_repo}")
os.system(f"gh secret set DB_PASSWORD --body {db_password} -a codespaces --repo {github_repo}")
os.system(f"gh secret set DB_NAME --body {db_name} -a codespaces --repo {github_repo}")
os.system(f"gh secret set DB_ENABLE_SSL --body {db_enable_ssl} -a codespaces --repo {github_repo}")
os.system(f"gh secret set ETL_DATABASE_URL --body '{etl_database_url}' -a codespaces --repo {github_repo}")
os.system(f"gh secret set API_DATABASE_URL --body '{api_database_url}' -a codespaces --repo {github_repo}")

# export ETL_DATABASE_URL=tidb://${DB_USERNAME}:${DB_PASSWORD}@${DB_ENDPOINT}:4000/${DB_NAME}

# Write to ./packages/api-server/.env file.
api_server_dot_env="./packages/api-server/.env"
with open(api_server_dot_env, "w") as file:
    file.write(
        "DATABASE_URL={}".format(api_database_url)
    )
    file.write("ENABLE_CACHE=false\n")
    file.write("GITHUB_ACCESS_TOKENS={}\n".format(github_token))

print("Setup successfully!")

Setup successfully!

## åˆ›å»ºè¿æ¥

### ä½¿ç”¨ MyCLI è¿æ¥åˆ° TiDB Serverless Tier é›†ç¾¤

æ‰§è¡Œä¸‹é¢çš„ SQL è¯­å¥éªŒè¯æ˜¯å¦èƒ½å¤Ÿè¿æ¥åˆ° TiDB é›†ç¾¤:

In [1]:
!mycli -h ${DB_ENDPOINT} -P ${DB_PORT} -u ${DB_USERNAME} -p ${DB_PASSWORD} -t \
    --ssl-ca=/etc/ssl/certs/ca-certificates.crt \
    --ssl-verify-server-cert \
    -e 'SELECT tidb_version()\G'

+-----------------------------------------------------------+
| tidb_version()                                            |
+-----------------------------------------------------------+
| Release Version: v6.3.0-serverless                        |
| Edition: Community                                        |
| Git Commit Hash: e87c16b215d518aed4921b8ef3b13e90e3ed6e2d |
| Git Branch: release-6.3-serverless                        |
| UTC Build Time: 2022-11-25 09:31:28                       |
| GoVersion: go1.19                                         |
| Race Enabled: false                                       |
| TiKV Min Version: 6.1.0                                   |
| Check Table Before Drop: false                            |
| Store: tikv                                               |
+-----------------------------------------------------------+

å¦‚æœæˆåŠŸæ‰§è¡Œï¼Œä½ ä¼šçœ‹åˆ° TiDB é›†ç¾¤çš„ç‰ˆæœ¬ä¿¡æ¯ã€‚

### ä½¿ç”¨ Python è¿æ¥åˆ° TiDB é›†ç¾¤ (å¿…é¡»)

é¦–å…ˆï¼Œè¯·æ‰§è¡Œä¸‹é¢çš„ Python ä»£ç ï¼Œåˆå§‹åŒ–ä¸€ä¸ª `query` å‡½æ•°å’Œä¸€ä¸ª `execute` å‡½æ•°ç”¨äºåç»­çš„ SQL æŸ¥è¯¢ï¼š

In [2]:
import mysql.connector as connection
import pandas as pd

db_host = os.getenv('DB_ENDPOINT')
db_port = os.getenv("DB_PORT")
db_username = os.getenv('DB_USERNAME')
db_password = os.getenv('DB_PASSWORD')
db_name = os.getenv('DB_NAME')

mydb = connection.connect(
  host=db_host,
  port=db_port,
  user=db_username,
  password=db_password,
  database=db_name
)

def execute(sql):
  try:
    mycursor = mydb.cursor()
    mycursor.execute(sql)
    mydb.commit()
    return  "OK, {} record(s) affected".format(mycursor.rowcount)
  except Exception as e:
    print(str(e))

def query(sql):
  try:
    df = pd.read_sql(sql, mydb)
    return df.style.set_properties(**{'text-align': 'left'})
  except Exception as e:
    print(str(e))

## å¯¼å…¥æ•°æ®

### GitHub Events API

é€šè¿‡ [GitHub çš„ API æ–‡æ¡£](https://docs.github.com/en/rest/activity/events), æˆ‘ä»¬çŸ¥é“å¯ä»¥é€šè¿‡è¯·æ±‚ `/events` API æ¥ GitHub ä¸Šæ‰€æœ‰å…¬å¼€ä»“åº“çš„å…¬å¼€äº‹ä»¶æ•°æ®ï¼Œè¿™ä¸ªæ•°æ®çš„æ¨é€æ˜¯å‡†å®æ—¶çš„ï¼ŒGitHub è®¾å®šäº† 5 åˆ†é’Ÿçš„å»¶è¿Ÿã€‚

ä½ å¯ä»¥æ‰§è¡Œä¸‹é¢çš„å‘½ä»¤æŸ¥çœ‹è¿™ä¸ªæ¥å£è¿”å›æ•°æ®çš„ç»“æ„ï¼š

In [ ]:
!curl -s \
  -H "Accept: application/vnd.github.v3+json" \
  -H "Authorization: token $GITHUB_TOKEN" \
  https://api.github.com/events?per_page=1

### GhArchive

ç”±äº `/events` API çš„é™åˆ¶ï¼Œæˆ‘ä»¬æ— æ³•è·å–åˆ°å†å²çš„æ‰€æœ‰äº‹ä»¶æ•°æ®ï¼Œäºæ˜¯æˆ‘ä»¬æ‰¾å¯»äº†è¯¥ API çš„å½’æ¡£æ•°æ®ã€‚é€šè¿‡ [GhArchive](https://www.gharchive.org/) é¡¹ç›®ï¼Œæˆ‘ä»¬å¯ä»¥ä¸‹è½½ä»¥å¤©æˆ–å°æ—¶ä¸ºç²’åº¦çš„å½’æ¡£æ•°æ®ã€‚

| Query | Downloadable Files |
| ---- | ---- |
| Activity for 1/1/2015 @ 3PM UTC |	`https://data.gharchive.org/2015-01-01-15.json.gz` |
| Activity for 1/1/2015 | `https://data.gharchive.org/2015-01-01-{0..23}.json.gz` |
| Activity for all of January 2015 | `https://data.gharchive.org/2015-01-{01..31}-{0..23}.json.gz` |

### OSS Insight æ•°æ®æ€»é‡

æˆªæ­¢ç›®å‰ï¼ˆ2022-12-06ï¼‰ï¼ŒOSS Insight å·²ç»æ”¶é›†äº†è¶…è¿‡ 53 äº¿æ¡å…¬å¼€äº‹ä»¶æ•°æ®ï¼Œä½ å¯ä»¥é€šè¿‡è®¿é—® API æˆ–åœ¨ç½‘ç«™ä¸ŠæŸ¥çœ‹å½“å‰æ”¶é›†çš„äº‹ä»¶æ€»æ•°ï¼š

In [7]:
!curl -s https://api.ossinsight.io/q/events-total | jq -r ".data[0]"

{
  "cnt": 5343816396,
  "latest_created_at": "2022-12-07T06:13:00.000Z",
  "latest_timestamp": 1670393580
}

### å¯¼å…¥ç¤ºä¾‹æ•°æ®


ä¸ºäº†æ–¹ä¾¿æ¼”ç¤ºï¼Œæˆ‘ä»¬ä»ä¸­ç­›é€‰å‡ºäº†éƒ¨åˆ†æ•°æ®ï¼Œä½¿ç”¨ [Dumpling](https://docs.pingcap.com/zh/tidb/stable/dumpling-overview) å·¥å…·å¯¼å‡ºåˆ° AWS S3 æ–‡ä»¶å­˜å‚¨å½“ä¸­ï¼Œä½ å¯ä»¥ä½¿ç”¨ TiDB Cloud çš„ Import åŠŸèƒ½å°†ç¤ºä¾‹æ•°æ®å¯¼å…¥åˆ°ä½ çš„ Severless Tier é›†ç¾¤ï¼š

<details>

<summary>å¯¼å‡ºç¤ºä¾‹æ•°æ®çš„ Dumpling å‘½ä»¤</summary>

`github_events` è¡¨:

```bash
tiup dumpling --host <endpoint> --port 4000 --user <uername> --password <password> --filetype sql --filter "gharchive_dev.github_events" --where="type in ('WatchEvent', 'IssuesEvent', 'PullRequestEvent', 'PushEvent') and repo_id in (507775,41986369,16563587,60246359,108110,11008207,6358188,48833910,114187903,105944401,50874442,44781140,166515022,20089857,19816070,206444,31006158,99919302,28738447,402945349,30753733,372536760,302827809,196353673,393235957,417731747,417726876,453068084,5349565,422821402,496505424,927442,138754790,49876476,208728772)" -o "s3://ossinsight/workshop/oss_database_sample" --s3.region "us-west-2"
```

`github_users` è¡¨:

```bash
tiup dumpling --host <endpoint>  --port 4000 --user <uername> --password <password> --filetype sql --filter "gharchive_dev.github_users" --where="login IN (SELECT ge.actor_login FROM gharchive_dev.github_events ge WHERE ge.type IN ('WatchEvent', 'IssuesEvent', 'PullRequestEvent', 'PushEvent') AND ge.repo_id IN (507775,41986369,16563587,60246359,108110,11008207,6358188,48833910,114187903,105944401,50874442,44781140,166515022,20089857,19816070,206444,31006158,99919302,28738447,402945349,30753733,372536760,302827809,196353673,393235957,417731747,417726876,453068084,5349565,422821402,496505424,927442,138754790,49876476,208728772))" -o "s3://ossinsight/workshop/oss_database_sample" --s3.region "us-west-2"
```

</details>

è¯·å¤åˆ¶ä¸‹é¢çš„ `S3 URI` å’Œ `Role ARN` ç²˜è´´åˆ° Cloud Import çš„é…ç½®å½“ä¸­ï¼Œæ ¹æ®é¡µé¢æç¤ºå¼€å¯å¯¼å…¥ä»»åŠ¡ï¼š

S3 URI:

```
s3://ossinsight/workshop/oss_database_sample/
```

Role ARN:

```
arn:aws:iam::494090988690:role/tidb-cloud-reader
```

<details>

<summary>æ“ä½œè¿‡ç¨‹æˆªå›¾</summary>

<center>
    <img width="700" alt="image" src="https://user-images.githubusercontent.com/85985765/205849289-de1203f7-80dd-4520-8e40-fc91f0a76631.png">
    <p><i>TiDB Cloud å¯¼å…¥åŠŸèƒ½ - å‡†å¤‡é¡µé¢</i></p>
</center>

<center>
    <img width="700" alt="TiDB Cloud - Importing" src="https://user-images.githubusercontent.com/85985765/205808913-9c32d61f-f9aa-43fa-ad4d-1bba4201b41d.png">
    <p><i>TiDB Cloud å¯¼å…¥åŠŸèƒ½ - çŠ¶æ€é¡µé¢</i></p>
</center>

</details>

### å¯¼å…¥å®æ—¶æ•°æ®

æ‰§è¡Œä¸‹é¢çš„ Docker Compose å‘½ä»¤å¯åŠ¨ ETL è„šæœ¬ï¼Œè¯¥è„šæœ¬è´Ÿè´£å°† Github Events API è¿”å›ç»“æœä¸­çš„ JSON æ•°æ®å¯¼å…¥åˆ°æ•°æ®åº“å½“ä¸­ã€‚

In [ ]:
!docker compose pull etl
!docker compose up -d etl

é€šè¿‡ä¸‹é¢çš„å‘½ä»¤æŸ¥çœ‹ etl å®¹å™¨çš„è¿è¡ŒçŠ¶æ€ï¼š

In [7]:
!docker compose logs etl --tail 10

ossinsight-etl-1  | == 20221120144415 CreateMentionLogs: migrating ================================
ossinsight-etl-1  | -- create_table(:mention_logs)
ossinsight-etl-1  |    -> 0.2656s
ossinsight-etl-1  | == 20221120144415 CreateMentionLogs: migrated (1.7977s) =======================
ossinsight-etl-1  |
ossinsight-etl-1  | Annotated (7): app/models/mention_log.rb, test/models/mention_log_test.rb, test/fixtures/mention_logs.yml, test/fixtures/mention_logs.yml, app/models/github_event.rb, test/models/github_event_test.rb, test/fixtures/github_events.yml
ossinsight-etl-1  | + bundle exec rake db:seed
ossinsight-etl-1  | mysql: unknown variable 'ssl-mode=VERIFY_IDENTITY'
ossinsight-etl-1  | + bundle exec rake gh:set_tiflash_replica
ossinsight-etl-1  | + bundle exec rails runner 'Realtime.new(ENV["GITHUB_TOKEN"].to_s.split(","), 100).run'

é‡å¤æ‰§è¡Œä»¥ä¸‹å‘½ä»¤è¡Œå‡ æ¬¡ï¼Œå¦‚æœ events æ€»æ•°åœ¨ä¸æ–­å¢é•¿è¯´æ˜ ETL å®æ—¶å¯¼å…¥æ­£åœ¨è¿è¡Œï¼š

In [10]:
!mycli -h ${DB_ENDPOINT} -P ${DB_PORT} -u ${DB_USERNAME} -p ${DB_PASSWORD} -D ${DB_NAME} -t \
    --ssl-ca=/etc/ssl/certs/ca-certificates.crt \
    --ssl-verify-server-cert \
    -e 'SELECT COUNT(*) FROM github_events\G'

+----------+
| COUNT(*) |
+----------+
| 1159186  |
+----------+

## èƒŒæ™¯çŸ¥è¯†

#### ä¼˜åŒ–å™¨

SQL æ˜¯ä¸€ç§å£°æ˜å¼è¯­è¨€ï¼Œè€Œéè¿‡ç¨‹æ€§çš„è¯­è¨€ã€‚ä¹Ÿå°±æ˜¯è¯´ï¼Œå®ƒæè¿°çš„æ˜¯æœ€ç»ˆç»“æœåº”è¯¥å¦‚ä½•ï¼Œè€ŒéæŒ‰é¡ºåºæ‰§è¡Œçš„æ­¥éª¤ã€‚å› æ­¤åœ¨ TiDB åœ¨å¤„ç† SQL è¯­å¥çš„è¿‡ç¨‹ä¸­ï¼Œé™¤äº†è¦ç¡®ä¿èƒ½å¤Ÿæ­£ç¡®è¿”å›è¯­å¥æ‰€æè¿°çš„æœ€ç»ˆç»“æœï¼Œè¿˜è¦ç¡®å®š SQL è¯­å¥çš„æ‰§è¡Œè¿‡ç¨‹ï¼Œå¹¶ä¸”å°½å¯èƒ½çš„å¯¹ SQL è¯­å¥è¿›è¡Œæ€§èƒ½ä¼˜åŒ–ï¼Œä»è€Œå¾—åˆ°æœ€ä½³çš„æ‰§è¡Œè®¡åˆ’ã€‚

SQL æ€§èƒ½ä¼˜åŒ–çš„è¿‡ç¨‹ï¼Œå¯ä»¥ç†è§£ä¸º GPS å¯¼èˆªçš„è¿‡ç¨‹ã€‚ä½ æä¾›åœ°å€åï¼ŒGPS è½¯ä»¶åˆ©ç”¨å„ç§ç»Ÿè®¡ä¿¡æ¯ï¼ˆä¾‹å¦‚ä»¥å‰çš„è¡Œç¨‹ã€é€Ÿåº¦é™åˆ¶ç­‰å…ƒæ•°æ®ï¼Œä»¥åŠå®æ—¶äº¤é€šä¿¡æ¯ï¼‰è§„åˆ’å‡ºä¸€æ¡æœ€çœæ—¶çš„è·¯çº¿ã€‚è¿™ä¸ TiDB ä¸­çš„ SQL æ€§èƒ½ä¼˜åŒ–è¿‡ç¨‹ç›¸å¯¹åº”ã€‚

æˆ‘ä»¬é€šå¸¸ä¼šæŠŠè´Ÿè´£è¿™éƒ¨åˆ† SQL ä¼˜åŒ–å·¥ä½œçš„ç»„ä»¶æˆä¸º**ä¼˜åŒ–å™¨ï¼ˆOptimizerï¼‰**ã€‚

å¦‚ä¸‹å›¾æ‰€ç¤ºï¼Œä¸€æ¡ SQL è¯­å¥åœ¨ç»è¿‡è¯­æ³•è§£æå’Œæ ¡éªŒä¹‹åï¼Œç»è¿‡ä¼˜åŒ–å™¨çš„é€»è¾‘ä¼˜åŒ–å’Œç‰©ç†ä¼˜åŒ–æ¥åˆ¶å®šæœ€ç»ˆçš„æ‰§è¡Œè®¡åˆ’ï¼Œäº¤ç»™æ‰§è¡Œå™¨ï¼ˆExecutorï¼‰å»æ‰§è¡Œã€‚å’Œ GPS è½¯ä»¶ä¸€æ ·ï¼Œä¼˜åŒ–å™¨åœ¨è¿›è¡Œæ‰§è¡Œè®¡åˆ’è§„åˆ’çš„æ—¶å€™ä¹Ÿä¼šåˆ©ç”¨åˆ°ä¸€äº›ç»Ÿè®¡ä¿¡æ¯æ¥è¿›è¡Œè¯„ä¼°ã€‚

<center>
  <img width="640" alt="The Cluster Modify Menu" src="https://user-images.githubusercontent.com/85985765/205136445-3d9dd676-56bc-4f75-bf6d-cdb1af8c1b79.png">
  <p><i>SQL ä¼˜åŒ–æµç¨‹å›¾</i></p>
</center>

ä¸Šå›¾å…¶å®æ˜¯ä¸€ä¸ªç®€åŒ–çš„ç¤ºæ„å›¾ï¼Œå› ä¸ºå®ƒåªæè¿°äº†ä»¥ TiKV ä¸ºå­˜å‚¨å¼•æ“çš„æƒ…å†µã€‚ä½†æ˜¯åœ¨ TiDB æ”¯æŒ HTAP èƒ½åŠ›åï¼Œå¼•è¿›äº†è´Ÿè´£åˆ†æè´Ÿè½½çš„ TiFlash å­˜å‚¨å¼•æ“ã€‚è¿™ç»™ä¼˜åŒ–å™¨å¸¦æ¥äº†æ–°çš„æŒ‘æˆ˜ï¼Œä¼˜åŒ–å™¨éœ€è¦åœ¨åˆ¶å®šæ‰§è¡Œè®¡åˆ’å’Œè¿›è¡Œç‰©ç†
ä¼˜åŒ–æ—¶éœ€è¦è€ƒè™‘ï¼š

> è¿™æ¡ SQL åº”è¯¥ä½¿ç”¨å“ªä¸ªå­˜å‚¨å¼•æ“æ‰§è¡Œæ€§èƒ½ä¼šæ›´å¥½ï¼Œé€‰ TiKV è¿˜æ˜¯ TiFlashï¼Ÿ

#### Optimizer Hints

> å¦‚æœä¼˜åŒ–å™¨éš¾ä»¥æŠ‰æ‹©ï¼Œé‚£æˆ‘ä»¬ä¸å¦¨ç»™å®ƒä¸€ç‚¹æç¤ºï¼Œå‘Šè¯‰å®ƒæˆ‘ä»¬å¸Œæœ›ä½¿ç”¨å“ªç§å­˜å‚¨å¼•æ“æ‰§è¡Œ?

TiDB çš„ä¼˜åŒ–å™¨æä¾›äº† `READ_FROM_STORAGE` Hint æ¥å…è®¸å¼€å‘è€…åœ¨ SQL è¯­å¥çº§åˆ«æ¥æ§åˆ¶å“ªä¸€å¼ è¡¨åº”è¯¥ä½¿ç”¨å“ªä¸ªæ‰§è¡Œå¼•æ“å»æ‰§è¡Œï¼š

```sql
SELECT /*+ READ_FROM_STORAGE(TIKV[t1]) */ a FROM t1;
```

å¦‚æœæŸ¥è¯¢ä¸­è¡¨å®šä¹‰äº†åˆ«åï¼ŒæŒ‡å®šå­˜å‚¨å¼•æ“æ—¶å¡«å†™çš„ä¹Ÿåº”è¯¥æ˜¯åˆ«åï¼š

```sql
SELECT /*+ READ_FROM_STORAGE(TIFLASH[t2]) */ a FROM t t2;
```

ä» TiFlash ä¸Šè¯»å– t1 è¡¨çš„æ•°æ®ï¼Œåœ¨ TiKV ä¸Šè¯»å– t2 çš„æ•°æ®ï¼š

```sql
SELECT /*+ READ_FROM_STORAGE(TIFLASH[t1], TIKV[t2]) */ t1.a FROM t t1, t t2 WHERE t1.a = t2.a;
```

å¦‚æœä½¿ç”¨äº† [CTE](https://docs.pingcap.com/tidb/dev/dev-guide-use-common-table-expression) è¯­å¥ï¼Œåº”è¯¥åœ¨åŸå§‹æŸ¥è¯¢å½“ä¸­æ·»åŠ  Hintï¼š

```sql
WITH cte AS (
    SELECT /*+ READ_FROM_STORAGE(TIFLASH[t2]) */ a, COUNT(*) AS cnt
    FROM t t2
    GROUP BY a
)
SELECT a, cnt
FROM cte;
```

#### ä»£ä»·æ¨¡å‹

> ä½¿ç”¨ Optimizer Hints å¾ˆç®€å•ï¼Œä½†æ˜¯æœ‰æ²¡æœ‰æ›´æ™ºèƒ½çš„æ–¹æ³•ï¼Œç‰¹åˆ«æ˜¯åœ¨åšä¸´æ—¶æŸ¥è¯¢æ—¶ï¼Œä¼˜åŒ–å™¨èƒ½å¦æ™ºèƒ½çš„é€‰æ‹©åº”è¯¥ä½¿ç”¨å“ªç§å¼•æ“æŸ¥è¯¢æ•ˆç‡æœ€é«˜ï¼Ÿ

<center>
  <img width="640" alt="ç‰©ç†ä¼˜åŒ–ä¸­çš„ä»£ç æ¨¡å‹" src="https://user-images.githubusercontent.com/85985765/205192450-c23f2199-1ab1-41d2-90f3-c17c5d6e252e.png">
  <p><i>SQL ä¼˜åŒ–æµç¨‹å›¾</i></p>
</center>

TiDB v6.2.0 å¼•å…¥äº†æ–°çš„ä»£ä»·æ¨¡å‹ Cost Model Version 2ã€‚

Cost Model Version 2 å¯¹ä»£ä»·å…¬å¼è¿›è¡Œäº†æ›´ç²¾ç¡®çš„å›å½’æ ¡å‡†ï¼Œè°ƒæ•´äº†éƒ¨åˆ†ä»£ä»·å…¬å¼ï¼Œæ¯”æ­¤å‰ç‰ˆæœ¬çš„ä»£ä»·å…¬å¼æ›´åŠ å‡†ç¡®ã€‚

OSS Insight ä½¿ç”¨äº†è¯¥ç‰ˆæœ¬çš„ Cost Model, ä½†æ˜¯å› ä¸ºç›®å‰ Cost Model Version 2 è¿˜å¤„äºå®éªŒé˜¶æ®µï¼Œéœ€è¦é€šè¿‡æ‰§è¡Œä»¥ä¸‹ SQL è¯­å¥è¿›è¡Œå¯ç”¨ï¼š

```sql
SET GLOBAL tidb_enable_new_cost_interface = 'ON';
SET GLOBAL tidb_cost_model_version = 2;
```

åœ¨åç»­ç‰ˆæœ¬å½“ä¸­ï¼ŒCost Model Version 2 ä¼šæ›¿ä»£æ‰åŸæœ‰çš„ Cost Model ä½œä¸ºé»˜è®¤çš„ä»£ç æ¨¡å‹ã€‚

## Example SQL

ä¸‹é¢ï¼Œæˆ‘ä»¬ä¼šä»¥ OSS Insight ä¸ºç¤ºä¾‹ï¼Œè®²è§£å¦‚ä½•ä½¿ç”¨ TiDB è¿›è¡Œæ•°æ®åˆ†æä»¥åŠåœ¨æ•°æ®åˆ†ææ—¶å¦‚ä½•æ›´å¥½çš„é€šè¿‡ä¼˜åŒ–å™¨æ¥å‘æŒ¥è¡Œå­˜ TiKV å’Œåˆ—å­˜ TiFlash å„è‡ªçš„ä¼˜åŠ¿ã€‚

#### å¼€å¯ Cost Model V2

In [4]:
execute("""
SET GLOBAL tidb_cost_model_version = 2;
""")
execute("""
SET GLOBAL tidb_enable_new_cost_interface = 'ON';
""")

'OK, 0 record(s) affected'

#### æ£€æŸ¥å¥åº·åº¦

å› ä¸ºåœ¨ OSS Insight å½“ä¸­ `github_events` è¡¨ä½¿ç”¨äº†[åˆ†åŒºè¡¨](https://docs.pingcap.com/zh/tidb/dev/partitioned-table)çš„åŠŸèƒ½ï¼Œå¹¶ä¸”å¼€å¯äº†[åŠ¨æ€åˆ†åŒºè£å‰ªæ¨¡å¼](https://docs.pingcap.com/zh/tidb/dev/partitioned-table#%E5%8A%A8%E6%80%81%E8%A3%81%E5%89%AA%E6%A8%A1%E5%BC%8F)ã€‚

In [14]:
query("""
SELECT @@tidb_partition_prune_mode;
""")

å› ä¸ºä¼˜åŒ–å™¨éœ€è¦æ ¹æ®ç»Ÿè®¡ä¿¡æ¯æ¥åˆ¶å®šæ‰§è¡Œè®¡åˆ’ï¼Œæˆ‘ä»¬éœ€è¦ç•™æ„ç»Ÿè®¡ä¿¡æ¯æ˜¯å¦è¿‡æœŸã€‚æˆ‘ä»¬å¯ä»¥é€šè¿‡ `SHOW STATS_HEALTHY` å‘½ä»¤æ¥æŸ¥çœ‹è¡¨çš„å¥åº·åº¦ï¼Œé€šè¿‡è¡¨çš„[å¥åº·åº¦](https://docs.pingcap.com/zh/tidb/dev/statistics#%E8%A1%A8%E7%9A%84%E5%81%A5%E5%BA%B7%E5%BA%A6%E4%BF%A1%E6%81%AF)ï¼Œå¯ä»¥ç²—ç•¥ä¼°è®¡è¡¨ä¸Šç»Ÿè®¡ä¿¡æ¯çš„å‡†ç¡®åº¦ã€‚

ç‰¹åˆ«æ˜¯åœ¨ä½ ä½¿ç”¨åˆ†åŒºè¡¨æ—¶ï¼ŒåŠ¨æ€åˆ†åŒºè£å‰ªæ¨¡å¼éœ€è¦ä¾èµ– `global` çš„ç»Ÿè®¡ä¿¡æ¯ã€‚

ä¸ºä¿è¯å¼€å¯å…¨å±€ dynamic åŠ¨æ€è£å‰ªæ¨¡å¼æ—¶ï¼ŒSQL å¯ä»¥ç”¨ä¸Šæ­£ç¡®çš„ç»Ÿè®¡ä¿¡æ¯ï¼Œæ­¤æ—¶éœ€è¦æ‰‹åŠ¨è§¦å‘ä¸€æ¬¡ analyze æ¥æ›´æ–°æ±‡æ€»ç»Ÿè®¡ä¿¡æ¯.

In [3]:
query("""
SHOW STATS_HEALTHY WHERE db_name = 'ossinsight' AND table_name = 'github_events';
""")

é€šè¿‡ `ANALYZE TABLE` å‘½ä»¤æ‰‹åŠ¨è§¦å‘æ”¶é›†è¡¨çš„ç»Ÿè®¡ä¿¡æ¯ï¼š

In [100]:
execute("""
ANALYZE TABLE ossinsight.github_events;
""")

'OK, 0 record(s) affected'

### Example 1: How many pull request does `ti-chi-bot` created?

ç†Ÿæ‚‰ TiDB çš„ç”¨æˆ·å¯èƒ½ä¼šçŸ¥é“ï¼Œåœ¨ TiDB çš„ç‰ˆæœ¬è§„åˆ™é‡Œä¼šå­˜åœ¨ä¸¤ç§ç‰ˆæœ¬ï¼š

- ä¸€ç§æ˜¯ä¸ºäº†èƒ½å¤Ÿæ›´å¿«äº¤ä»˜è¿­ä»£è€Œè®¾è®¡çš„å¼€å‘é‡Œç¨‹ç¢‘ç‰ˆæœ¬ (Development Milestone Releases, DMR)
- å¦å¤–ä¸€ç§æ˜¯æä¾›é•¿æœŸæŠ€æœ¯æ”¯æŒçš„é•¿æœŸæ”¯æŒç‰ˆæœ¬ (Long-Term Support Releases, LTS)

åœ¨ LTS ç”Ÿå‘½å‘¨æœŸå†…ä¼šæŒ‰éœ€å‘å¸ƒè¡¥ä¸ç‰ˆæœ¬ (Patch Release)ã€‚å¦‚æœä¸€ä¸ªä¿®å¤ BUG çš„ Pull Request ä¼šè¢« Cherry-Pick åˆ°å—å½±å“çš„ LTS åˆ†æ”¯è¿›è¡Œä¿®å¤ï¼Œè¿™éƒ¨åˆ†å·¥ä½œä¼šç”±æœºå™¨äººæ ¹æ®ç ”å‘å’Œ QA å›¢é˜Ÿç¡®å®šçš„å—å½±å“ç‰ˆæœ¬åˆ—è¡¨è¿›è¡Œè‡ªåŠ¨çš„ Cherryâ€”Pickï¼Œæ‰€ä»¥ä½ ä¼šåœ¨ TiDB çš„ä»£ç ä»“åº“å½“ä¸­çœ‹è§ä¸å°‘[ç”±æœºå™¨äººå‘èµ·çš„ Pull Request](https://github.com/pingcap/tidb/pulls/ti-chi-bot)ã€‚

> ğŸ¤” é‚£ä¹ˆï¼ŒTiDB çš„ç¤¾åŒºæœºå™¨äººï¼ˆ`ti-chi-bot`ï¼‰ä¸€å…±åˆ›å»ºäº†å¤šå°‘ä¸ª Pull Request å‘¢ï¼Ÿ

æˆ‘ä»¬å¯ä»¥é€šè¿‡ä¸‹é¢çš„ SQL è¯­å¥è¿›è¡ŒæŸ¥è¯¢ï¼š

In [18]:
query("""
SELECT repo_name, COUNT(1) AS prs
FROM github_events
WHERE
    type = 'PullRequestEvent'
    AND action = 'opened'
    AND actor_login = 'ti-chi-bot'
GROUP BY repo_name
""")

é€šè¿‡ `EXPLAIN ANALYZE` æŸ¥çœ‹ä¸Šé¢ SQL è¯­å¥çš„æ‰§è¡Œè®¡åˆ’ï¼š

In [20]:
query("""
EXPLAIN SELECT repo_name, COUNT(1) AS prs
FROM github_events
WHERE
    type = 'PullRequestEvent'
    AND action = 'opened'
    AND actor_login = 'ti-chi-bot'
GROUP BY repo_name
""")

é€šè¿‡æ‰§è¡Œè®¡åˆ’ï¼Œæˆ‘ä»¬å¯ä»¥çŸ¥é“è¿™ä¸ª SQL ä¼šä½¿ç”¨ TiKV å­˜å‚¨å¼•æ“æ¥è¯»å– `github_events` è¡¨ä¸­çš„æ•°æ®ï¼Œå¹¶ä¸”ä½¿ç”¨äº†ç´¢å¼• `index_github_events_on_actor_login`ã€‚

### Example 2: The history of the number of stars

> ğŸ¤” é™¤äº†é€šè¿‡èšåˆå‡½æ•°æ¥è¿›è¡Œç®€å•æ•°æ®åˆ†æï¼ŒTiDB æ˜¯å¦å¯ä»¥åšæ›´å¤æ‚çš„æ•°æ®åˆ†æå—ï¼Ÿ

æ¯”å¦‚æˆ‘ä»¬æƒ³è¦çŸ¥é“æŸä¸ªæŒ‡æ ‡çš„å¢é•¿è¶‹åŠ¿ï¼Œä»¥ä»£ç ä»“åº“ `pingcap/tidb` ä¸ºä¾‹ï¼Œèƒ½å¦é€šè¿‡ SQL è¯­å¥æŸ¥è¯¢è¯¥ä»“åº“ Star çš„å¢é•¿è¶‹åŠ¿ (æŒ‰æœˆç´¯è®¡)ï¼Œè¿™æ ·çš„ SQL è¯­å¥æˆ‘ä»¬ä¼šæ€ä¹ˆå†™?

æˆ‘ä»¬å¯ä»¥åˆ©ç”¨[çª—å£å‡½æ•°](https://docs.pingcap.com/zh/tidb/stable/window-functions)æ¥å®ç°è¿™ä¸€ä¸ªéœ€æ±‚ã€‚çª—å£å‡½æ•°é€šå¸¸ä¹Ÿè¢«ç§°ä¸º â€œOLAP å‡½æ•°â€ï¼Œåˆæˆ–è€…æ˜¯ â€œå¼€çª—å‡½æ•°â€ã€‚

ä¾‹å¦‚ï¼Œåœ¨ä¸‹é¢çš„ SQL è¯­å¥å½“ä¸­ï¼Œæˆ‘ä»¬é€šè¿‡ `OVER` è¯­å¥å®šä¹‰çª—å£çš„èŒƒå›´ï¼ŒTiDB ä¼šå°†æ•°æ®è¡ŒæŒ‰ç…§ `created_at` åˆ—è¿›è¡Œæ’åºï¼Œç„¶åå¯¹è¿™äº›æ•°æ®è¡ŒæŒ‰é¡ºåºæ‰«æï¼Œå°†å½“å‰è¡Œä¹‹å‰çš„æ‰€æœ‰è¡Œä½œä¸ºä¸€ä¸ªçª—å£ã€‚

éšç€æ‰«æçš„è¡Œæ•°è¶Šå¤šï¼Œçª—å£ä¹Ÿä¼šé€æ­¥æ‰©å¤§ã€‚å¯¹äºæ¯ä¸ªçª—å£éƒ½ä¼šæ‰§è¡Œä¸€æ¬¡èšåˆå‡½æ•° `COUNT(1)` æ¥ç»Ÿè®¡çª—å£å†…çš„äº‹ä»¶æ€»æ•°ï¼Œä»è€Œå¯ä»¥å¾—åˆ°ä¸€ç»„éšç€æ—¶é—´ç´¯ç§¯å¢é•¿çš„ç»Ÿè®¡æ•°æ®ã€‚

In [102]:
query("""
SELECT
  event_month, stars
FROM (
  SELECT
    DATE_FORMAT(created_at, '%Y-%m-01') as event_month,
    COUNT(1) OVER (ORDER BY DATE_FORMAT(created_at, '%Y-%m-01')) AS stars,
    ROW_NUMBER() OVER (PARTITION BY DATE_FORMAT(created_at, '%Y-%m-01')) AS row_num
  FROM
    github_events
  WHERE
    type = 'WatchEvent'
    AND repo_name = 'pingcap/tidb'
  ORDER BY 1
) sub
WHERE row_num = 1
ORDER BY event_month DESC
LIMIT 20
""")

é€šè¿‡ `EXPLAIN` è¯­å¥æŸ¥çœ‹å…¶æ‰§è¡Œè®¡åˆ’ï¼š

In [103]:
query("""
EXPLAIN SELECT
  event_month, stars
FROM (
  SELECT
    DATE_FORMAT(created_at, '%Y-%m-01') as event_month,
    COUNT(1) OVER (ORDER BY DATE_FORMAT(created_at, '%Y-%m-01')) AS stars,
    ROW_NUMBER() OVER (PARTITION BY DATE_FORMAT(created_at, '%Y-%m-01')) AS row_num
  FROM
    github_events ge
  WHERE
    type = 'WatchEvent'
    AND repo_name = 'pingcap/tidb'
  ORDER BY 1
) sub
WHERE row_num = 1
ORDER BY event_month DESC
LIMIT 20;
""")

#### åˆ›å»º TiFlash å‰¯æœ¬

æˆ‘ä»¬å‘ç°å¯¹äº OLAP å‡½æ•°ï¼ŒTiDB çš„ä¼˜åŒ–å™¨ä»ç„¶ä¼šä½¿ç”¨ TiKV ä½œä¸ºå­˜å‚¨å¼•æ“è¿›è¡Œæ•°æ®æŸ¥è¯¢ã€‚

è¿™æ˜¯å› ä¸ºåœ¨é»˜è®¤æƒ…å†µä¸‹ï¼ŒTiDB ä¸ä¼šæ˜¯ä¸º `github_events` è¡¨åˆ›å»º TiFlash å‰¯æœ¬çš„ï¼Œä½ éœ€è¦æ‰‹åŠ¨åœ°è¿›è¡Œåˆ›å»ºï¼Œåˆ›å»º TiFlash å‰¯æœ¬çš„æ–¹æ³•ä¹Ÿååˆ†ç®€å•ï¼Œä½ åªéœ€è¦æ‰§è¡Œä¸‹é¢è¿™æ¡ SQL è¯­å¥ï¼Œå°±å¯ä»¥ä¸º `github_events` è¡¨åˆ›å»ºä¸€ä¸ª TiFlash å‰¯æœ¬ï¼š

In [67]:
execute("""
ALTER TABLE ossinsight.github_events SET TIFLASH REPLICA 1;
""")

'OK, 0 record(s) affected'

æ‰§è¡Œå®Œä¸Šé¢çš„ SQL è¯­å¥åï¼ŒTiFlash ä¼šåœ¨åå°è‡ªåŠ¨åœ°å®Œæˆå‰¯æœ¬çš„åˆ›å»ºï¼Œä½ å¯ä»¥é€šè¿‡é‡å¤æ‰§è¡Œä¸‹é¢çš„ SQL è¯­å¥æ¥æŸ¥çœ‹å‰¯æœ¬çš„åˆ›å»ºè¿›åº¦ï¼š

In [69]:
query("""
SELECT * FROM information_schema.tiflash_replica WHERE TABLE_SCHEMA = 'ossinsight' and TABLE_NAME = 'github_events';
""")

å½“ AVAILABLE çŠ¶æ€ä¸º 1, PROCESS è¿›åº¦ä¸º 1.0ï¼ˆå³ 100%ï¼‰æ—¶ï¼Œè¡¨ç¤ºè¯¥è¡¨çš„ TiFlash å‰¯æœ¬å·²ç»åˆ›å»ºå®Œæˆã€‚

#### å†æ¬¡æ‰§è¡Œ

å†æ¬¡æ‰§è¡Œä¸Šé¢çš„åˆ†ææŸ¥è¯¢è¯­å¥ï¼š

In [70]:
query("""
EXPLAIN SELECT
  event_month, stars
FROM (
  SELECT
    DATE_FORMAT(created_at, '%Y-%m-01') as event_month,
    COUNT(1) OVER (ORDER BY DATE_FORMAT(created_at, '%Y-%m-01')) AS stars,
    ROW_NUMBER() OVER (PARTITION BY DATE_FORMAT(created_at, '%Y-%m-01')) AS row_num
  FROM
    github_events ge
  WHERE
    type = 'WatchEvent'
    AND repo_name = 'pingcap/tidb'
  ORDER BY 1
) sub
WHERE row_num = 1
ORDER BY event_month DESC;
""")

æˆ‘ä»¬ä¼šå‘ç°æ­¤æ—¶çš„æ‰§è¡Œè®¡åˆ’å½“ä¸­å·²ç»å‡ºç°äº† `cop[tiflash]` çš„å­—æ ·ï¼Œè¯´æ˜æ­¤æ—¶çš„æŸ¥è¯¢å·²ç»åœ¨ä½¿ç”¨ TiFlash å­˜å‚¨å¼•æ“æ¥è¯»å–æ•°æ®ã€‚

### Example 3: Trends in the growth of the number of robots

> ğŸ¤” çœ‹ä¸Šå»ä¸Šé¢çš„æŸ¥è¯¢çš„é€Ÿåº¦å¹¶æ²¡æœ‰å¤šå¤§çš„å·®å¼‚ï¼Ÿ

æˆ‘ä»¬æ¥çœ‹ä¸€ä¸‹æ›´åŠ å¤æ‚çš„ä¾‹å­ï¼Œåœ¨å‰é¢çš„æŸ¥è¯¢å½“ä¸­ï¼Œæˆ‘ä»¬åªæ˜¯åœ¨æŸ¥è¯¢ä¸€ä¸ªä»“åº“çš„æ•°æ®ï¼ŒTiDB ä¹Ÿè®¸è¿˜èƒ½å¤Ÿå€ŸåŠ©ç´¢å¼•æ‰¾åˆ°ä¸€æ¡æ›´é«˜æ•ˆçš„åŸºäº TiKV çš„æ‰§è¡Œè®¡åˆ’ã€‚

ä½†æ˜¯æœ‰çš„æ—¶å€™ï¼Œæˆ‘ä»¬çš„æ•°æ®åˆ†æå¯èƒ½å¹¶æ²¡æœ‰è¿™ä¹ˆç®€å•ï¼Œå¯èƒ½éœ€è¦åŒæ—¶åˆ†æ N ä¸ªä»£ç ä»“åº“ï¼Œç”šè‡³æ‰€æœ‰ä»£ç ä»“åº“çš„æ•°æ®ã€‚åˆæˆ–è€…æ˜¯æˆ‘ä»¬å¸Œæœ›èƒ½å¤Ÿè¿›è¡Œå¤§æ‰¹é‡çš„æ•°æ®æŠ¥è¡¨ç»Ÿè®¡ï¼Œè¿™ä¸ªæ—¶å€™éœ€è¦æ‰«ææ›´ä¸ºå¤§é‡çš„æ•°æ®ï¼Œè¿™æ—¶å€™ä¼˜åŒ–å™¨å³ä¾¿ä»ç„¶é€‰æ‹©äº†ç´¢å¼•æŸ¥è¯¢çš„æ–¹å¼ï¼ŒæŸ¥è¯¢çš„æ•ˆç‡å¯èƒ½ä»ç„¶ä¸ä¼šå¾ˆé«˜ã€‚

é¦–å…ˆï¼Œæˆ‘ä»¬åº”ç”¨æˆ‘ä»¬åœ¨èƒŒæ™¯çŸ¥è¯†ç« èŠ‚å½“ä¸­å­¦ä¹ åˆ°çš„æŠ€å·§ï¼Œé€šè¿‡ `/*+ READ_FROM_STORAGE(TIKV[ge]) */` Hints æ¥å‘Šè¯‰ä¼˜åŒ–å™¨åœ¨æŸ¥è¯¢ `github_events` è¡¨æ—¶å¼ºåˆ¶ä½¿ç”¨ TiKV å­˜å‚¨å¼•æ“ï¼š

In [79]:
query("""
WITH bots_with_first_seen AS (
    SELECT
        /*+ READ_FROM_STORAGE(TIKV[ge]) */
        actor_login, MIN(YEAR(created_at)) AS first_seen_at
    FROM github_events ge
    WHERE
        actor_login REGEXP '^(bot-.+|.+bot|.+\\[bot\\]|.+-bot-.+|robot-.+|.+-ci-.+|.+-ci|.+-testing|.+clabot.+|.+-gerrit|k8s-.+|.+-machine|.+-automation|github-.+|.+-github|.+-service|.+-builds|codecov-.+|.+teamcity.+|jenkins-.+|.+-jira-.+)$'
    GROUP BY actor_login
    ORDER BY first_seen_at
),  acc AS (
    SELECT
        COUNT(actor_login) OVER (ORDER BY first_seen_at) AS cnt,
        first_seen_at AS event_year
    FROM
        bots_with_first_seen AS bwfs
    ORDER BY event_year
)
SELECT ANY_VALUE(cnt) AS bots_total, event_year
FROM acc
GROUP BY event_year
ORDER BY event_year;
""")

ç„¶åæˆ‘ä»¬é€šè¿‡ `/*+ READ_FROM_STORAGE(TIFLASH[ge]) */` Hints æ¥å¼ºåˆ¶ä¼˜åŒ–å™¨ä½¿ç”¨ TiFlash å­˜å‚¨å¼•æ“æ¥è¯»å– `github_events` è¡¨ï¼Œå†æ¬¡æ‰§è¡Œï¼š

In [80]:
query("""
WITH bots_with_first_seen AS (
    SELECT
        /*+ READ_FROM_STORAGE(TIFLASH[ge]) */
        actor_login, MIN(YEAR(created_at)) AS first_seen_at
    FROM github_events ge
    WHERE
        actor_login REGEXP '^(bot-.+|.+bot|.+\\[bot\\]|.+-bot-.+|robot-.+|.+-ci-.+|.+-ci|.+-testing|.+clabot.+|.+-gerrit|k8s-.+|.+-machine|.+-automation|github-.+|.+-github|.+-service|.+-builds|codecov-.+|.+teamcity.+|jenkins-.+|.+-jira-.+)$'
    GROUP BY actor_login
    ORDER BY first_seen_at
),  acc AS (
    SELECT
        COUNT(actor_login) OVER (ORDER BY first_seen_at) AS cnt,
        first_seen_at AS event_year
    FROM
        bots_with_first_seen AS bwfs
    ORDER BY event_year
)
SELECT ANY_VALUE(cnt) AS bots_total, event_year
FROM acc
GROUP BY event_year
ORDER BY event_year;
""")

åœ¨æ›´å¤§æ•°æ®é‡çš„æƒ…å†µä¸‹ï¼Œä½¿ç”¨ TiFlash æŸ¥è¯¢ç›¸æ¯” TiKV æŸ¥è¯¢é€Ÿåº¦ä¸Šæœ‰äº†æ˜æ˜¾çš„æå‡ã€‚

### Example 4: Top Contributor List

é™¤äº†å•è¡¨æŸ¥è¯¢ï¼Œæ›´å¤šçš„æ—¶å€™æˆ‘ä»¬éœ€è¦å°†å¤šå¼ è¡¨çš„æ•°æ®ç»“åˆåœ¨ä¸€èµ·è¿›è¡Œåˆ†æï¼Œè¿™ä¸ªæ—¶å€™æˆ‘ä»¬å°±éœ€è¦è¿›è¡Œè¡¨è¿æ¥æŸ¥è¯¢ã€‚

> å¦‚æœåœ¨ä¸€ä¸ªæŸ¥è¯¢å½“ä¸­éœ€è¦ä»å¤šä¸ªè¡¨ä¸­è®¿é—®æ•°æ®ï¼ŒTiDB ä¼šæ€ä¹ˆè¿›è¡Œå¤„ç†ï¼Ÿ

In [81]:
query("""
SELECT
    repo_id, repo_name, stars, created_at
FROM github_repos
ORDER BY stars DESC
LIMIT 10;
""")

ä¾‹å¦‚ï¼Œå¯ä»¥é€šè¿‡ä¸‹é¢çš„ SQL è¯­å¥åœ¨è¿™äº›ä»“åº“å½“ä¸­ï¼Œæ¥è‡ªä¸­å›½çš„æœ€æ´»è·ƒçš„ Code Contributors æ˜¯å“ªäº›äººï¼Ÿ

In [96]:
query("""
SELECT ge.actor_id, gu.login, COUNT(1) AS prs, GROUP_CONCAT(DISTINCT ge.repo_name) AS repos
FROM github_events ge
JOIN github_users gu ON ge.actor_id = gu.id
WHERE
    ge.type = 'PullRequestEvent'
    AND ge.action = 'opened'
    AND gu.country_code = 'CN'
GROUP BY ge.actor_id
ORDER BY prs DESC
LIMIT 20
""")

æŸ¥çœ‹å…¶æ‰§è¡Œè®¡åˆ’ï¼š

In [97]:
query("""
EXPLAIN SELECT ge.actor_id, gu.login, COUNT(1) AS prs, GROUP_CONCAT(DISTINCT ge.repo_name) AS repos
FROM github_events ge
JOIN github_users gu ON ge.actor_id = gu.id
WHERE
    ge.type = 'PullRequestEvent'
    AND ge.action = 'opened'
    AND gu.country_code = 'CN'
GROUP BY ge.actor_id
ORDER BY prs DESC
LIMIT 20
""")

å¯ä»¥å‘ç°ä¼˜åŒ–æ™ºèƒ½çš„é€‰æ‹©æ˜¯ä½¿ç”¨èƒ½å¤Ÿåˆ©ç”¨ç´¢å¼•èƒ½åŠ›çš„ TiKV è¿˜æ˜¯ä½¿ç”¨èƒ½å¤Ÿèƒœä»»å¤§é‡æ•°æ®å¿«é€Ÿæ‰«æçš„ TiFlash æ¥æŸ¥è¯¢æ•°æ®ã€‚

é€šè¿‡ä¼˜åŒ–å™¨ï¼ŒTiDB å·²ç»ä¸ºæˆ‘ä»¬æ™ºèƒ½åœ°å†³å®šåœ¨ä½•æ—¶ä½•è¡¨ä½¿ç”¨ä½•ç§å­˜å‚¨å¼•æ“æ•ˆç‡æ›´é«˜ï¼Œè¿™å¾ˆå¤§ç¨‹åº¦åœ°èƒ½å‡è½»äº†ç¼–å†™ SQL æ—¶çš„å·¥ä½œé‡ï¼Œè®©æˆ‘ä»¬å°†æ³¨æ„åŠ›æ›´å¥½åœ°èšç„¦åˆ°æˆ‘ä»¬çš„å®é™…ä¸šåŠ¡å½“ä¸­ã€‚

## å›¾è¡¨å¯è§†åŒ–

åœ¨ä¸Šé¢çš„ç« èŠ‚å½“ä¸­ï¼Œæˆ‘ä»¬å·²ç»æŒæ¡äº†é€šè¿‡ SQL è¯­å¥æ¥è¿›è¡Œç®€å•çš„æ•°æ®åˆ†æï¼Œç°åœ¨ï¼Œæˆ‘ä»¬å¯ä»¥ä½¿ç”¨å„ç§ BI å·¥å…·æˆ–è€…å‰ç«¯å›¾è¡¨æ¡†æ¶æ¥å°† SQL è¯­å¥æŸ¥è¯¢åˆ°çš„æ•°æ®ç»“æœè¿›è¡Œå¯è§†åŒ–ã€‚

ä½ å¯ä»¥é€šè¿‡ [Data visualization tools for application developers](https://awesome.cube.dev/) åˆ°è¿™äº›å·¥å…·çš„é›†åˆã€‚

è¿™é‡Œæˆ‘ä»¬ä»¥ [Grafana Cloud](https://grafana.com/products/cloud/) ä¸ºä¾‹ï¼Œä»‹ç»å¦‚ä½•å°† TiDB Cloud Serverless tier ä¸å…¶ä»–æ•°æ®å¯è§†åŒ–å·¥å…·è¿›è¡Œé›†æˆã€‚

### åˆ›å»ºè´¦å·

ä½ å¯ä»¥é€šè¿‡ä½ çš„ GitHub è´¦å·å¿«é€Ÿ[æ³¨å†Œ](https://grafana.com/auth/sign-up/create-user)ä¸€ä¸ª Grafana Cloud è´¦å·ã€‚

åœ¨å…¶ Overview é¡µé¢ï¼Œå¯ä»¥åœ¨ Grafana å®ä¾‹çš„å¡ç‰‡å½“ä¸­ç‚¹å‡» â€œLaunchâ€ æŒ‰é’®æ¥å¯åŠ¨ä¸€ä¸ª Grafana å®ä¾‹ã€‚

### è¿æ¥ TiDB Cloud

åœ¨è¿›å…¥åˆ° Grafana çš„ç®¡ç†ç•Œé¢æ—¶ï¼Œæˆ‘ä»¬å¯ä»¥ç‚¹å‡»å·¦ä¾§èœå•ä¸­çš„ â€œConfigurationâ€ > â€œData sourcesâ€ èœå•é¡¹è¿›å…¥åˆ°æ•°æ®æºé…ç½®é¡µé¢ã€‚

<center>
    <img width="200" alt="image" src="https://user-images.githubusercontent.com/88522432/205971297-ab1b822a-2461-445c-8f85-99a5f834dc7d.png">
    <p><i>Data source config entry</i></p>
</center>

æ·»åŠ æ–°çš„ Data Sourceï¼ŒData Source çš„ç±»å‹å¯ä»¥é€‰æ‹©ä½¿ç”¨ â€œMySQLâ€ã€‚

<center>
    <img width="600" alt="image" src="https://user-images.githubusercontent.com/88522432/205973144-85da8262-7efd-4762-b958-6b710a6f1c43.png">
    <p><i>Add data source</i></p>
</center>

å°† TiDB Cloud Serverless Tier é›†ç¾¤çš„è¿æ¥ä¿¡æ¯å¡«å†™åˆ°å¯¹åº”çš„ä½ç½®ã€‚

å› ä¸º Serverless Tier è¦æ±‚å¿…é¡»ä½¿ç”¨ TLS è¿æ¥ï¼Œå› æ­¤è¿˜éœ€è¦å‹¾é€‰ â€œWith CA Certâ€ é€‰é¡¹ï¼Œç„¶åå°†å—ä¿¡ä»»çš„ CA è¯ä¹¦å¡«å†™åˆ°æ–‡æœ¬æ¡†å½“ä¸­ï¼ˆä¾‹å¦‚ï¼š[isrgrootx1.pem.txt](https://letsencrypt.org/certs/isrgrootx1.pem.txt)ï¼‰ã€‚

<center>
    <img width="540" alt="image" src="https://user-images.githubusercontent.com/88522432/205973887-a1fb69be-2d0d-4166-b234-61d17a1196a2.png">
    <p><i>Config data source</i></p>
</center>

### æ–°å»º Dashboard

ç‚¹å‡»å·¦ä¾§èœå•ä¸­ â€œNew Dashboardâ€ æŒ‰é’®ä»¥åˆ›å»ºä¸€ä¸ªæ–°çš„ Dashboardã€‚

<center>
    <img width="254" alt="image" src="https://user-images.githubusercontent.com/88522432/205975900-472c39c4-7eb2-45a4-b928-cd89567fe6bc.png">
    <p><i>New Dashboard</i></p>
</center>

åœ¨ Dashboard ä¸Šæ–°å»ºåˆ›å»ºæ–°çš„ Panelï¼Œç„¶åå°†æ•°æ®æºé€‰æ‹©äº†ä¸Šé¢åˆ›å»ºçš„ â€œTiDBâ€ æ•°æ®åº“ï¼Œç¼–å†™ SQL è¯­å¥ï¼Œæ‰§è¡Œï¼Œç„¶åé€‰æ‹©åˆé€‚çš„å›¾è¡¨ç”¨äºæ•°æ®å¯è§†åŒ–ã€‚

<center>
    <img width="1000" alt="image" src="https://user-images.githubusercontent.com/88522432/205977281-234203cc-bf3b-44d3-920e-9b17c077c357.png">
    <p><i>New Panel</i></p>
</center>